@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 0;
    --foreground: 255 255 255;
    --card: 17 17 17;
    --primary: 139 92 246;
    --accent: 34 197 94;
    --muted: 39 39 42;
    --muted-foreground: 161 161 170;
    --destructive: 239 68 68;
    --border: 39 39 42;
    --input: 28 28 30;
    --ring: 139 92 246;
  }
}
